<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GymBudgetApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="budget">
                <span class="oi oi-dollar" aria-hidden="true"></span> Budget
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="seasons">
                <span class="oi oi-calendar" aria-hidden="true"></span> Seasons
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teamlevels">
                <span class="oi oi-star" aria-hidden="true"></span> Team Levels
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="coaches">
                <span class="oi oi-people" aria-hidden="true"></span> Coaches
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="meets">
                <span class="oi oi-map-marker" aria-hidden="true"></span> Meets
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="perdiem">
                <span class="oi oi-fork" aria-hidden="true"></span> Per Diem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mileage">
                <span class="oi oi-map" aria-hidden="true"></span> Mileage
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <span class="oi oi-document" aria-hidden="true"></span> Reports
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="import-budget">
                <span class="oi oi-data-transfer-download" aria-hidden="true"></span> Import Budget
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="import-csv">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Import CSV
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3 mt-3">
                    <a href="/SignOut" class="nav-link text-danger">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
                    </a>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>
@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
