@inherits LayoutComponentBase

<PageTitle>Top Notch Training - Parent Portal</PageTitle>

<div class="page parent-portal">
    <div class="sidebar">
        <ParentNavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex align-items-center justify-content-end">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
