@inherits LayoutComponentBase

<PageTitle>GymHub - Parent Portal</PageTitle>

<div class="page parent-portal">
    <div class="sidebar">
        <ParentNavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex align-items-center justify-content-end">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

    <div class="parent-bottom-nav">
        <a href="parent"><span class="oi oi-home"></span><span>Home</span></a>
        <a href="parent/schedule"><span class="oi oi-calendar"></span><span>Schedule</span></a>
        <a href="parent/chat"><span class="oi oi-chat"></span><span>Chat</span></a>
        <a href="parent/announcements"><span class="oi oi-bullhorn"></span><span>News</span></a>
        <a href="/SignOut"><span class="oi oi-account-logout"></span><span>Log Out</span></a>
    </div>
</div>
