@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="parent">Top Notch Training</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="parent" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> My Athletes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="claim">
                <span class="oi oi-link-intact" aria-hidden="true"></span> Link Athlete
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3 mt-3">
                    <a href="/SignOut" class="nav-link text-danger">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
                    </a>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
