@using System.Security.Claims
@using Microsoft.EntityFrameworkCore
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDbContextFactory<AppDbContext> DbFactory

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="parent">Top Notch Training</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="parent" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> My Athletes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="parent/announcements">
                <span class="oi oi-bullhorn" aria-hidden="true"></span> Announcements
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="parent/schedule">
                <span class="oi oi-calendar" aria-hidden="true"></span> Schedule
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="parent/calendar">
                <span class="oi oi-calendar" aria-hidden="true"></span> Calendar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="parent/messages">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> Messages
                @if (unreadMessageCount > 0)
                {
                    <span class="badge bg-danger ms-1">@unreadMessageCount</span>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="claim">
                <span class="oi oi-link-intact" aria-hidden="true"></span> Link Athlete
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3 mt-3">
                    <a href="/SignOut" class="nav-link text-danger">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
                    </a>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private int unreadMessageCount;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userId = authState.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        if (userId != null)
        {
            using var db = await DbFactory.CreateDbContextAsync();
            unreadMessageCount = await db.Messages
                .Where(m => m.RecipientUserId == userId && !m.IsRead)
                .CountAsync();
        }
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
